In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.randn(4, 4)  # Generate random values
df = pd.DataFrame(data)

In [3]:
df

          0         1         2         3
0  1.176825 -0.290588  1.060229  0.016722
1 -1.636408  0.149163  0.418545 -2.053197
2  1.131600 -0.224341 -0.854678 -0.380452
3  0.947441 -0.612133  0.487054  0.190300

In [4]:
new_column_names = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df.columns = new_column_names

In [5]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        1.176825       -0.290588        1.060229        0.016722
1       -1.636408        0.149163        0.418545       -2.053197
2        1.131600       -0.224341       -0.854678       -0.380452
3        0.947441       -0.612133        0.487054        0.190300

In [6]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.404865       -0.244475        0.277788       -0.556657
std          1.364460        0.312333        0.807939        1.025896
min         -1.636408       -0.612133       -0.854678       -2.053197
25%          0.301479       -0.370975        0.100239       -0.798639
50%          1.039521       -0.257465        0.452800       -0.181865
75%          1.142906       -0.130965        0.630348        0.060117
max          1.176825        0.149163        1.060229        0.190300

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [8]:
x=df.iloc[:,1:3]
x

   Random value 2  Random value 3
0       -0.290588        1.060229
1        0.149163        0.418545
2       -0.224341       -0.854678
3       -0.612133        0.487054