In [129]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import plot_model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [130]:
df = pd.read_csv('drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [132]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['BP'] = label_encoder.fit_transform(df['BP'])
df['Cholesterol'] = label_encoder.fit_transform(df['Cholesterol'])
df['Drug'] = label_encoder.fit_transform(df['Drug'])

In [133]:
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     0
1   47    1   1            0   13.093     3
2   47    1   1            0   10.114     3
3   28    0   2            0    7.798     4
4   61    0   1            0   18.043     0

In [134]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [135]:
model = Sequential()

model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))

model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

num_classes = len(label_encoder.classes_)
model.add(Dense(num_classes, activation='softmax'))

In [136]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [137]:
model.fit(X_train, y_train, batch_size=32, epochs=10, validation_data=(X_test, y_test))

Epoch 1/10
5/5 [==============================] - 1s 60ms/step - loss: 1.4655 - accuracy: 0.4688 - val_loss: 1.4236 - val_accuracy: 0.3750
Epoch 2/10
5/5 [==============================] - 0s 15ms/step - loss: 1.2406 - accuracy: 0.4750 - val_loss: 1.3427 - val_accuracy: 0.5000
Epoch 3/10
5/5 [==============================] - 0s 16ms/step - loss: 1.1818 - accuracy: 0.5188 - val_loss: 1.2344 - val_accuracy: 0.5000
Epoch 4/10
5/5 [==============================] - 0s 17ms/step - loss: 1.1148 - accuracy: 0.5312 - val_loss: 1.2074 - val_accuracy: 0.5000
Epoch 5/10
5/5 [==============================] - 0s 11ms/step - loss: 1.0734 - accuracy: 0.5562 - val_loss: 1.2149 - val_accuracy: 0.5000
Epoch 6/10
5/5 [==============================] - 0s 15ms/step - loss: 1.0413 - accuracy: 0.5562 - val_loss: 1.1801 - val_accuracy: 0.5000
Epoch 7/10
5/5 [==============================] - 0s 12ms/step - loss: 1.0401 - accuracy: 0.5688 - val_loss: 1.1825 - val_accuracy: 0.5000
Epoch 8/10
5/5 [==============================] - 0s 17ms/step - loss: 1.0132 - accuracy: 0.5688 - val_loss: 1.1655 - val_accuracy: 0.5000
Epoch 9/10
5/5 [==============================] - 0s 13ms/step - loss: 1.0052 - accuracy: 0.5688 - val_loss: 1.1373 - val_accuracy: 0.5000
Epoch 10/10
5/5 [==============================] - 0s 12ms/step - loss: 0.9937 - accuracy: 0.6062 - val_loss: 1.1344 - val_accuracy: 0.5000

In [138]:
_, accuracy = model.evaluate(X_test, y_test)
accuracy

2/2 [==============================] - 0s 7ms/step - loss: 1.1344 - accuracy: 0.5000

0.5

In [140]:
p=model.predict(X_test)
l=[]
for i in p:
  predicted_class = np.argmax(i)
  predicted_drug = label_encoder.inverse_transform([predicted_class])[0]
  l.append(predicted_drug)
print("the Predicted values are-")
print(l)

2/2 [==============================] - 0s 5ms/step
the Predicted values are-
['DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'drugX', 'drugX', 'DrugY', 'DrugY', 'drugX', 'drugX', 'drugX', 'DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'DrugY', 'drugX', 'DrugY', 'drugX', 'DrugY', 'DrugY', 'DrugY']